{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}

    <div class="breadcrumb-area">
        <div class="container">
            <div class="row h-100 text-center">
                <div class="col-12 align-self-end">
                    <div class="breadcumb--con">
                        <h1 class="title">Reset your password</h1>
                    </div>
                </div>
            </div>
        </div>

        {% include 'partials/_bg_curve.html' %}
    </div>

    <!-- Main Section -->
    <section class="contact-area">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Contact Form -->
                <div class="col-12 col-lg-8">
                    <div class="app-contact-form">
                        <div class="contact-heading mb-50">
                            <h5 class="text-center">
                                We've emailed you instructions for setting your password. <br>
                                If you don't receive an email, please make sure you've entered <br>
                                the address you registered with.
                            </h5>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="get-a-quote ml-4 mr-3">
                                    <a href="{% url 'home:index' %}" class="btn app-btn btn-3">Back to Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}