{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}

    <div class="breadcrumb-area">
        <div class="container">
            <div class="row h-100 text-center">
                <div class="col-12 align-self-end">
                    <div class="breadcumb--con">
                        <h1 class="title">Reset Password</h1>
                    </div>
                </div>
            </div>
        </div>

        {% include 'partials/_bg_curve.html' %}
    </div>

    <!-- Main Section -->
    <section class="contact-area">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Contact Form -->
                <div class="col-12 col-lg-8">
                    <div class="app-contact-form">
                        <div class="contact-heading mb-50">
                            <h5 class="text-center">
                                Forgotten your password? <br>
                                Enter your e-mail address to obtain a new password
                            </h5>
                        </div>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong> {{ error }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}


                        <form method="post"> {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control mb-10"
                                               name="email" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn app-btn btn-3 mt-15" style="width: 100%">Send
                                        e-mail
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}