<footer class="footer-area section-padding-80-0">
    <div class="container">
        <div class="row justify-content-around align-items-start">

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Contact Us</h4>

                    <!-- Footer Content -->
                    <div class="footer-content mb-15">
                        <h3>(+380) 000 0000</h3>
                        <p>Ukraine, Rivne region, Ostrog, st. Academic, 5th, <br> email@gmail.com</p>
                    </div>
                    <p class="mb-0">
                        Mon - Fri: 9:00 - 18:00 <br>
                        Closed on Weekends
                    </p>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Quick Link</h4>

                    <!-- Nav -->
                    <nav>
                        <ul class="our-link">
                            <li><a href="{% url 'museum:home' %}">Museum</a></li>
                            <li><a href="{% url 'books:home' %}">Books</a></li>
                            <li><a href="{% url 'news:news' %}">News</a></li>
                            <li><a href="{% url 'events:home' %}">Master Classes</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </nav>
                </div>
            </div>


            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">About Us</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, voluptates.</p>

                    <!-- Social Info -->
                    <div class="footer-social-info">
                        <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                                class="fa fa-twitter"></i></a>
                        <a href="#" class="telegram" data-toggle="tooltip" data-placement="top"
                           title="Telegram"><i
                                class="fa fa-telegram"></i></a>
                        <a href="#" class="instagram" data-toggle="tooltip" data-placement="top"
                        title="Instagram"><i
                                class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row justify-content-center" style="margin-bottom: 30px;">

            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | Made by Kristina Chizhmar
        </div>

    </div>
</footer>
