{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="uza - Model Agency HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="wrapper">
        <div class="cssload-loader"></div>
    </div>
</div>
<!-- Header -->
{% include 'partials/_header.html' %}

{% block content %}
{% endblock %}

<!-- jQuery js -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>

<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- All js -->
<script src="{% static 'js/app.bundle.js' %}"></script>

<!-- Active js -->
<script src="{% static 'js/default-assets/active.js' %}"></script>

<!-- Ajax request -->
<script src="{% static 'js/ajax.js' %}"></script>

</body>

</html>