{% extends 'base.html' %}
{% load event_tags %}
{% load static %}
{% block title %}Book{% endblock %}

{% block content %}

    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">
                            Master Classes
                        </h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home:index' %}"><i class="fa fa-home"></i>
                                    Home</a></li>
                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="{% url 'books:home' %}">Books Category</a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="{% url 'books:books_detail' book.category.slug book.category.id %}">Books</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">{{ book.slug }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        {% include 'partials/_bg_curve.html' %}
    </div>

    <section class="portfolio-single-area section-padding-80">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-8">
                    <div class="portfolio-details-text text-justify">
                        <h2>{{ book.name }}</h2>
                        <p>{{ book.body|safe }}</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 pt-5">
                    <div class="portfolio-meta">
                        <img src="{{ book.image.url }}" alt="">
                        <div class="mt-2">
                            <div class="portfolio-meta">
                            <h6><span class="text-info">Pages:</span> {{ book.pages }}</h6>
                        </div>
                        {% include 'partials/_share.html' %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Subscribe to newsletter -->
    {% include 'partials/_newsletter.html' %}

    <!-- Footer -->
    {% include 'partials/_footer.html' %}
{% endblock %}